<div class="container" style="padding: 0px 2px 0px 2px">
<section id="footer" class="clearfix">    
     <div class="row">
       <div class="col-sm-12 space_all">
     <div class="col-sm-4">
       <div class="footer_1">
        <h4>CricPredict</h4>
       </div>
       </div>
       <div class="col-sm-4">
        <div class="footer_2">
         <h4>FOLLOW US</h4>
         <ul>
              <li class="well_3"><i class="fa fa-facebook"></i></li>
              <li class="well_4"><i class="fa fa-twitter"></i></li>
              <li class="well_5"><i class="fa fa-linkedin"></i></li>
              <li class="well_6"><i class="fa fa-instagram"></i></li>
         </ul>
        </div>
       </div>
       <div class="col-sm-4">
        <div class="footer_4">
        <h4>Fantasy</h4>
         <ul>
            <li>Fantasy Home</li>
            <li>My Team</li>
        </ul>
       </div>
       </div>
     </div>
     </div>
   </section>
   <section id="footer_main" class="clearfix">
        <div class="col-sm-12 space_all">
         <div class="footer_main_1">
           <p>© 2022 CricSanjal. All Rights Reserved.</p>
         </div>
         </div>
   </section>
</div>
