<div class="container" style="padding: 20px 2px 0px 2px">
    <section id="header" class="cd-secondary-nav">
     <div class="row">
      <nav class="navbar navbar-default">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown-thumbnail-preview">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{% url 'home' %}"><span class="well_2">CRIC</span>PREDICT<span class="well_1">
 
 
            <i class="fa-solid fa-cricket-bat-ball"></i></span></a>
       </div>
       <div class="collapse navbar-collapse" id="dropdown-thumbnail-preview">
         <ul class="nav navbar-nav">
           <li class="active"><a href="{% url 'home' %}" class="hvr-underline-from-center">HOME</a></li>
           <li><a href="{%url 'live' %}" class="hvr-underline-from-center">Live Matches</a></li>
           <li><a href="" class="hvr-underline-from-center">Match Results</a></li>
       </div>
   </nav>
     </div>
   </section>
</div>