{% load static %}
<div class='container' style="background-color: aliceblue;">
<section id="relate">  
        <div class="related_1">
            <h4>Live matches</h4>
        </div>
</section>
    <section id="live">
        <div class="row">
            <div class="col-sm-3">  
                <a href=""><h4>Match 1</h4></a>
            </div>
            <div class="col-sm-3">
                <h4>Match 1</h4>
            </div>
            <div class="col-sm-3">
                <h4>Match 1</h4>
            </div>
            <div class="col-sm-3">
                <h4>Match 1</h4>
            </div>
   </section>
<section id="relate"> 
        <div class="related_1">
            <h4>Match Results</h4>
        </div>
</section>
    <section id="live">
        <div class="row">
            <div class="col-sm-3">  
                <h4>Match 1</h4>
            </div>
            <div class="col-sm-3">
                <h4>Match 1</h4>
            </div>
            <div class="col-sm-3">
                <h4>Match 1</h4>
            </div>
            <div class="col-sm-3">
                <h4>Match 1</h4>
            </div>
        </div>
   </section>
</div>